

<%= form_with url: '/flights', method: :get  do |f| %>

  <div>
    <%= f.label :origin %>
    <%= f.collection_select :origin, @airports, :id, :name_city_state, prompt: 'Select origin airport', required: true %>
  </div>
  <div>
    <%= f.label :destination %>
    <%= f.collection_select :destination, @airports, :id, :name_city_state, prompt: 'Select desination airport', required: true %>
  </div>
  <div>
    <%= f.label :number_of_passengers %>
    <%= f.collection_select :number_of_passengers, (1..4), :itself, :to_s, prompt: 'Select number of tickets', required: true %>
  </div>
   <div>
    <%= f.label :flight_date %>
    <%= f.collection_select :flight_date, @flight_dates, :start, :flight_start_display, prompt: 'Select flight date', required: true %>
  </div>
  <div>
    <%= f.submit value:'Search', class: 'btn btn-primary' %>
  </div>
<% end %>